@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
body {
  background-color: rgba(0, 0, 0, 0.899);
  font-size: small;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

* {
  font-family: "Ubuntu", sans-serif;
}

#container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* margin-top: 40px; */
  margin: 40px auto;
  width: 90%;
}

#cx {
  height: 30px;
  outline: none;
  border: none;
  padding: 15px;
  border-radius: 4px;
}

.banner {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  overflow-x: auto;
  flex-wrap: wrap;
  margin: 0 auto;
  height: 100vh;
  flex-wrap: wrap;
}

#banner-pod {
  position: relative;
  width: 110px;
  background-color: #82c19bd9;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  padding: 15px;
  margin: 5px;
  justify-content: center;
  align-content: center;
  margin-right: 5px;
  color: #000000f2;
  font-size: small;
  box-sizing: border-box;
  line-height: 1.5em;
  height: 90px;
}

.hide {
  display: none !important;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(59, 49, 5, 0.879);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
}

/* #banner-Mn {
  position: absolute;
  right: 0;
} */

#v-bar {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-content: center;
  min-width: 35px;
  background-color: #e3e1d645;
  position: absolute;
  right: 0px;
  height: 100%;
  border-radius: 4px;
  opacity: 0.7;
}

#v-bar > div {
  padding: 5px;
  text-align: right;
}

#v-bar-sr {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-content: center;
  min-width: 50px;
  /* background-color: #e3e1d645; */
  position: absolute;
  left: 0px;
  height: 100%;
  border-radius: 4px;
  opacity: 0.7;
}

#v-bar-sr > div {
  padding: 5px;
}
