@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
body {
  background-color: rgba(0, 0, 0, 0.899);
  font-size: small;
}

* {
  font-family: "Ubuntu", sans-serif;
}

button {
  outline: none;
  border: none;
  margin-bottom: 10px;
  height: 30px;
  width: 90px;
  padding: 10px;
  border-radius: 4px;
  background-color: rgba(31, 217, 230, 0.564);
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: rgba(31, 217, 230, 0.964);
}

button:nth-child(1) {
  margin-top: 10px;
}
#x-btn {
  background-color: rgba(228, 133, 18, 0.8);
  height: 5px;
  width: 5px;
  position: absolute;
  top: -20px;
  right: -10px;
  border-radius: 50%;
  transform: scale(0.7);
}

#preview {
  position: relative;
}

#x-btn-prvw {
  background-color: rgba(228, 18, 32, 0.8);
  height: 5px;
  width: 5px;
  position: absolute;
  top: -20px;
  right: -10px;
  border-radius: 50%;
  transform: scale(0.7);
}

#list {
  display: flex;
  flex-direction: column;
  background-color: rgba(11, 12, 11, 0.413);
  justify-items: center;
  width: 250px;
  border-radius: 4px;
  align-items: center;
  height: 90%;
  overflow: auto;
}

#list::-webkit-scrollbar {
  display: none;
}

.preview-pod {
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.199);
  width: 95%;
  margin: 10px auto;
  position: relative;
  box-shadow: 0px 0px 3px 1px #ffffff80;
}

#capTxt {
  position: relative;
  left: 10px;
  padding: 10px;
  margin-left: 80px;
  border-radius: 4px;
  border: 0;
  outline: 0;
  margin-top: 10px;
  /* margin-bottom: 10px; */
}

#newPrice {
  height: 35px;
  border-radius: 4px;
  border: 0;
  outline: 0;
  text-align: right;
}

#line {
  padding: 5px;
  width: 220px;
  margin: 0 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.101);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#line:hover {
  transform: scale(1.02);
  background-color: rgba(0, 0, 0, 0.134);
}

#closebtn {
  position: fixed;
  bottom: 0px;
  right: 10px;
  height: 20px;
  width: 20px;
  background-color: rgba(165, 42, 42, 0.516);
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  cursor: pointer;
  margin: 10px;
  font-family: "Ubuntu", sans-serif;
}

#cclosebtn {
  position: fixed;
  bottom: 0px;
  left: 10px;
  height: 20px;
  width: 20px;
  background-color: rgba(165, 42, 42, 0.516);
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  cursor: pointer;
  margin: 10px;
  font-family: "Ubuntu", sans-serif;
}

#closebtn:hover {
  background-color: rgba(220, 42, 42, 0.716);
}

#line:nth-child(1) {
  margin-top: 10px;
}

#container {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  width: 90%;
  height: 90vh;
  margin: 30px auto;
  justify-content: flex-start;
  align-content: center;
  padding: 20px;
}

.details-box {
  margin: 10px 20px;
  /* height: 350px; */
  border-radius: 4px;
  position: relative;
}

.hide {
  display: none;
}

#details {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-left: 10px;
  flex-wrap: wrap;
  overflow: auto;
  justify-content: flex-start;
  align-content: flex-start;
}

#sym-input {
  position: absolute;
  top: 70px;
  right: 40px;
  padding: 10px;
  border-radius: 4px;
  border: 0;
  outline: 0;
  margin: 10px;
  width: 100px;
}

#cap-input {
  position: absolute;
  top: 10px;
  right: 40px;
  padding: 10px;
  border-radius: 4px;
  border: 0;
  outline: 0;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(147, 124, 228) !important;
  text-align: right;
  width: 150px;
  background-color: rgba(67, 67, 67, 0.339);
}

#cap-input:focus {
  background-color: transparent;
}

#hpc iframe {
  background-color: rgba(255, 255, 255, 0.97);
  height: 80vh !important;
  width: 500px !important;
  margin-right: 20px;
  border-radius: 5px;
  overflow-x: hidden;
}
